        {% load static %}
        <!-- Start Slider Area -->
        <div id="home" class="rn-slider-area">
            <div class="slide slider-style-1">
                <div class="container">
                    <div class="row row--30 align-items-center">
                        <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
                            <div class="content">
                                <div class="inner">
                                    <span class="subtitle">Welcome to my world of varanam</span>
                                    <h1 class="title " style="color: black;">15+ years of <span class="text-danger">Excellence</span><br>
                                        <span class="header-caption" id="page-top">
                                            <!-- type headline start-->
                                            <span class="cd-headline clip is-full-width">
                                                <span>in </span>
                                        <!-- ROTATING TEXT -->
                                          <span class="cd-words-wrapper">
                                            <b class="is-visible">Real estate</b>
                                            <b class="is-hidden">Land selling</b>
                                            <b class="is-hidden">Flat selling</b>
                                          </span>
                                        </span>
                                        <!-- type headline end -->
                                        </span>
                                    </h1>

                                    <div>
                                        <p class="description">I'm Self-taught Programmer And an open-source enthusiast and maintainer.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                        <div class="social-share-inner-left">
                                            <span class="title">Follow Me</span>
                                            <ul class="social-share d-flex liststyle">
                                                <li class="facebook"><a href=""><i data-feather="facebook" class="text-danger"></i></a>
                                                </li>
												<li class="youtube"><a href=""><i data-feather="youtube" class="text-danger"></i></a>
                                                </li>
                                                <li class="instagram"><a href="#"><i data-feather="instagram" class="text-danger"></i></a>
                                                </li>
                                                <li class="linkedin"><a href="#"><i data-feather="linkedin" class="text-danger"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
  
                                </div>
                            </div>
                        </div>

                        <div class="order-1 order-lg-2 col-lg-5">
                            <div class="thumbnail">
                                <div class="inner">
                                    <img src="{% static 'assets/images/1.png' %}" alt="Personal Portfolio Images" style="background-color: white;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->